export AWS_ACCESS_KEY_ID={{ restic_repo_access_key }}
export AWS_SECRET_ACCESS_KEY={{ restic_repo_access_key_secret }}
export RESTIC_REPOSITORY={{ restic_repo_endpoint }}
export RESTIC_PASSWORD={{ restic_repo_password }}
